{# empty Twig template #}
{% extends "blog/layout.html.twig" %}

{% block title %} {{parent()}} - Index Categorie{% endblock %}

{% block body %}
<h1>
    Catégorie : {{titre}}
</h1>
    {% for article in articles %}
    <p>{{article.id}} - <em>{{article.titre}}</em>
        {% if article.image %}
           <img src="{{article.image.url}}" alt="{{article.image.alt}}" width="10%" height="10%" ><br>
        {% endif %}     
        {% for categorie in article.categories  %}
            <a class="btn btn-link" href="{{path('blog_categorie', {id:categorie.id})}}">{{categorie.titre}}</a>
        {% endfor %}      
        <br>
        <br>
        <a class="btn btn-warning" href="{{path('blog_detail', {id:article.id})}}">Voir &rarr;</a>
    <p>
    {% endfor %}
{% endblock %}
