{# empty Twig template #}
{% extends "blog/layout.html.twig" %}

{% block title %} {{parent()}} - Index {% endblock %}

{% block body %}
<h1>
    Page {{page}}
</h1>
    {% for article in articles %}
    <p>{{article.id}} - <em>{{article.titre}}</em>
        {% if article.image %}
           <img src="{{article.image.url}}" alt="{{article.image.alt}}" ><br>
        {% endif %}
        <a class="btn btn-warning" href="{{path('blog_detail', {id:article.id})}}">Voir &rarr;</a>
    <p>
    {% endfor %}
{% endblock %}
